/* FILEPATH: /c:/dev/web3examples/createWallet/createWallet.css */

/* Apply a background color */
body {
  background-color: #f2f2f2;
  font-family: 'Courier New', Courier, monospace;
}

/* Center the content */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Add a box shadow to a card */
.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style a button */
button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
}

/* Add some spacing */
.spacing {
  margin-bottom: 20px;
}

textarea {
  width: 30%;
  height: 100px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}